a.list-group-item:hover,
a.list-group-item:focus {
  color: #556;
  text-decoration: none;
  background-color: #2cbfd9;
}
#map_canvas {
  position: fixed;
  width: 100%;
  height: 700px;
  overflow: hidden;
  -webkit-transform: translateZ(0px);
  background-color: #e5e3df;
}
.angular-google-map-container {
  height: 700px;
  width: 500px;
}
