h1 Doctors
table.table.table-hover.table-bordered
    tr.success
        th Name
        th Description
    tr(ng-repeat='doctor in doctors')
        td {{ doctor.name }}
        td {{ doctor.description }}
